@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");
.card {
  background-color: #fffaec;
  margin-bottom: 4rem;
  box-shadow: 0px 0px 10px rgb(43, 43, 43);
}

.card__header {
  color: rgb(46, 168, 234);
}

.btn {
  background-color: rgb(46, 168, 234);
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(43, 43, 43);
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  opacity: 0.8;
}

/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad Flux";
}

body {
  background: linear-gradient(90deg, #d33dea, #5042be);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

/* BALANCE CARD STYLES */
.balance-card {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 1rem;
  padding: 2rem;
}
.balance-card .card__header {
  font-size: 2.25rem;
}
.balance-card .card__num-header {
  font-size: 3rem;
}

/* Makes container at bottom of balance-card a flexbox */
.totals-container {
  display: flex;
}
.totals-container h4,
.totals-container .total-income-display,
.totals-container .total-expenses-display {
  font-size: 1.5rem;
}

.total-income-container {
  border-right: 1px solid black;
  padding-right: 1rem;
}

.total-expenses-container {
  border-left: 1px solid black;
  padding-left: 1rem;
}

/* TRACKER CONTAINER STYLES */
.tracker-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 1rem;
}

.tracker-table-container {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.tracker-table {
  box-shadow: 0px 0px 10px rgb(43, 43, 43);
  border-collapse: collapse;
  font-size: 1.25rem;
  width: 100%;
  text-align: left;
  border-radius: 20%;
}
.tracker-table tr {
  background-color: red;
}
.tracker-table th {
  background-color: rgb(46, 168, 234);
  font-size: 1.5rem;
  padding: 1rem;
  color: white;
}
.tracker-table td {
  background-color: #fffaec;
  padding: 0.5rem 0;
  padding: 1rem;
  border-top: 1px solid black;
}
.tracker-table .delete-btn {
  background-color: rgb(214, 69, 69);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(145, 145, 145); /*Slightly less than backShadow()*/
}

.tracker-inputs {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.tracker-inputs .type-display {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}
.button-container .income-btn,
.button-container .expense-btn {
  width: 100%;
  font-size: 1.25rem;
}

.input-label-pair {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.input-label-pair label {
  color: white;
  font-weight: bold;
}
.input-label-pair input {
  box-shadow: 0px 0px 10px rgb(43, 43, 43);
  padding: 0.75rem 1rem;
  width: 100%;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
}

.block-divider {
  display: block;
}

.add-btn-container {
  display: flex;
  justify-content: center;
}
.add-btn-container .add-btn {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  background-color: rgb(46, 168, 234);
  color: white;
  border: none;
}

.delete-btn {
  box-shadow: 0px 0px 10px rgb(43, 43, 43);
  width: 100%;
  font-size: 1rem;
}

.type-display {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.error-message {
  color: red;
}

/*# sourceMappingURL=style.css.map */
