@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

$primary-color: rgb(46, 168, 234);
$delete-red: rgb(214, 69, 69);

@mixin gradient($color1, $color2) {
  background: linear-gradient(90deg, $color1, $color2);
}

@mixin backShadow() {
  box-shadow: 0px 0px 10px rgb(43, 43, 43);
}

.card {
  background-color: #fffaec;
  margin-bottom: 4rem;
  @include backShadow();
}

.card__header {
  color: $primary-color;
}

.btn {
  background-color: $primary-color;
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.8;
  }
  @include backShadow();
}

/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad Flux";
}

body {
  @include gradient(#d33dea, #5042be);
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

/* BALANCE CARD STYLES */

.balance-card {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 1rem;
  padding: 2rem;
  .card__header {
    font-size: 2.25rem;
  }
  .card__num-header {
    font-size: 3rem;
  }
}

/* Makes container at bottom of balance-card a flexbox */
.totals-container {
  display: flex;
  h4,
  .total-income-display,
  .total-expenses-display {
    font-size: 1.5rem;
  }
}

.total-income-container {
  border-right: 1px solid black;
  padding-right: 1rem;
}

.total-expenses-container {
  border-left: 1px solid black;
  padding-left: 1rem;
}

/* TRACKER CONTAINER STYLES */

.tracker-container {
  display: flex;
  justify-content: space-around;
  // border: 1px solid red;
  width: 100%;
  padding-top: 1rem;
}

// Left Side Tracker Table
.tracker-table-container {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.tracker-table {
  @include backShadow();
  border-collapse: collapse;
  // border-spacing: 1rem;
  font-size: 1.25rem;
  width: 100%;
  text-align: left;
  border-radius: 20%;
  tr {
    // padding-bottom: 2rem;
    background-color: red;
  }
  th {
    background-color: $primary-color;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
  }
  td {
    background-color: #fffaec;
    padding: 0.5rem 0;
    padding: 1rem;
    border-top: 1px solid black;
  }
  .delete-btn {
    background-color: $delete-red;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(145, 145, 145); /*Slightly less than backShadow()*/
  }
}

// Right Side Tracker Inputs
.tracker-inputs {
  display: flex;
  flex-direction: column;
  width: 45%;
  .type-display {
    text-align: center;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  // border: 1px solid brown;
  gap: 3%;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  .income-btn,
  .expense-btn {
    width: 100%;
    font-size: 1.25rem;
  }
}
.input-label-pair {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  label {
    color: white;
    font-weight: bold;
  }
  input {
    @include backShadow();
    padding: 0.75rem 1rem;
    width: 100%;
    font-size: 1.25rem;
    border: none;
    border-radius: 0.5rem;
  }
}

.block-divider {
  display: block;
}

.add-btn-container {
  display: flex;
  justify-content: center;
  .add-btn {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    background-color: $primary-color;
    color: white;
    border: none;
  }
}

.delete-btn {
  @include backShadow();
  width: 100%;
  font-size: 1rem;
}

.type-display {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.error-message {
  color: red;
}